.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.item {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
}
