<div class="main-container" infinite-scroll [infiniteScrollDistance]="scrollDistance" [alwaysCallback]=true
    [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
    <div class="menu-container">
        <button class="new-book-button" *ngIf="loginService.isAdmin()" routerLink="add"> New Book </button>
        <app-search-and-sort [order]="order" [sortBy]="sortBy" [searchVal]="searchVal" (valuesChanged)="updateValues($event); sort()"></app-search-and-sort>
    </div>
    <div class="card-container">
        <div *ngFor="let book of books">
            <app-book-card class="item" [book]=book>
            </app-book-card>
        </div>
    </div>
    <div class="my-spinner">
        <ngx-spinner *ngIf="loading" bdColor="" color="#4A6B89" [fullScreen]=false size="default"
            type="ball-spin-clockwise">
            <p style="color: black">Please Wait. </p>
        </ngx-spinner>
    </div>
</div>