.main-container {
  min-height: 1500px;
  margin-top: 3%;
  margin-left: 8%;
  margin-right: 8%;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.sort-menu {
  margin-left: auto;
}

.card-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
    
}
.item {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0.8em;
  margin-bottom: 2em;
}

button {
    margin: 10px;
    width: fit-content;
    height: 2.2rem;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4A6B89;
    color: white;
}
.my-spinner {
  position: relative;
  min-height: 400px;
}

app-search-and-sort {
  margin-left: auto;
}


@media only screen and (max-width: 1024px){
  .main-container {
    margin-left: 6%;
    margin-right: 6%;
  }
  .item {
    padding: 0.6em;
    
  }
  
}

@media only screen and (max-width: 600px){
  .main-container {
    margin-left: 8%;
    margin-right: 8%;
  }
  .item {
    padding: 0.8em;
    
  }
  
}

@media only screen and (max-width: 350px){
  .main-container {
    margin-left: 1%;
    margin-right: 1%;
  }
  .item {

    padding: 0.2em;
    
  }
  
}
