.main-container {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.card-container {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.item {
  display: flex;
  padding: 0.8em;
  margin-bottom: 2em;
}

@media only screen and (max-width: 1024px){
  .container {
    margin-left: 2%;
    margin-right: 2%;
  }
  .item {
    padding: 0.2em;
    
  }
  
}

@media only screen and (max-width: 900px){
  .container {
    margin-left: 6%;
    margin-right: 6%;
  }
  .item {
    padding: 0.4em;
    
  }
  
}

@media only screen and (max-width: 500px){
  .container {
    margin-left: 7%;
    margin-right: 7%;
  }
  .item {
    padding: 1.1em;
    
  }
  
}
