


.book-card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border-radius: 1.7em;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 280px;
    height: 580px;
    padding-bottom: 30px; 
}

mat-card-header {
    line-height: normal;
    display: flex;
    flex-direction: column;
    min-height: 70px;
    width: 100%;	
}
mat-card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	white-space: normal;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

mat-card-content {
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 320px;
}
.edit {
    max-width: 25px;
    max-height: 25px;
    margin-right: 10px;
}



.details {
    justify-content: flex-end;
    min-height: 50px;
}
.image {
    max-height: 340px;
}

.card-button {
    margin-top: auto;
    width: 35%;
    height: 2.2rem;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4A6B89;
    color: white;
}

.authors {
    min-height: 80px;
    max-height: 80px;
    display: -webkit-box;
    width: fit-content;
    align-self: center;
    -webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dots {
    min-height: 15px;
}

.author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.available {
    margin-bottom: 10px;
    color: #01C761;
}
.unavailable {
    margin-bottom: 10px;
    color: #E00000;
}