.book-card {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 280px;
    height: 580px;
    padding-bottom: 30px;
    
    
}

mat-card-header {
    display: flex;
    flex-direction: column;
    min-height: 70px;
    width: 100%;	

}
mat-card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;

}

mat-card-content {
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 320px;
    
}


mat-card-actions {
    justify-content: flex-end;
    min-height: 120px;
}

.card-button {
    margin-top: auto;
    width: 30%;
    height: 2rem;
}

.authors {
    min-height: 80px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

.author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.available {
    margin-bottom: 10px;
    color: #238823;
}
.unavailable {
    margin-bottom: 10px;
    color: #D2222D;
}