<mat-card class="book-card">
    <mat-card-header>
        <mat-card-title #tooltip="matTooltip" [matTooltip]="book.title" matTooltipPosition="right"
            matTooltipShowDelay=500 matTooltipHideDelay="200">{{book.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <img mat-card-image class="image" [src]=book.imageUrl onerror="this.src='assets/img/default.png';">
        </div>
    </mat-card-content>
    <div class="authors" #tooltip="matTooltip" [matTooltip]="book.authors | listAuthors" matTooltipPosition="right"
        matTooltipShowDelay=500 matTooltipHideDelay="200">
        <span>
            Authors:</span>
        <div *ngIf="!hasNoAuthors(book.authors)">
            <span>
                <div class="author" *ngFor="let author of book.authors">
                    <span>{{author.firstName}} {{author.lastName}}</span>
                </div>
            </span>
        </div>
        <div class="author" *ngIf="hasNoAuthors(book.authors)">
            <div>
                Unknown
            </div>
        </div>
    </div>
    <div class="dots">
        <div *ngIf="book.authors.length > 3">...</div>
    </div>
    <div class="details">
        <div [ngClass]="book.quantity > 0 ? 'available' : 'unavailable'">
            {{book.quantity > 0 ? "Available" : "Unavailable"}}
        </div>
        <button class="card-button" (click)="openDetailedBookPage(book.id!)" mat-button>Details</button>
    </div>
    <mat-card-actions align='end'>
        <input *ngIf="loginService.isAdmin()" type="image" class="edit" (click)="editBook(book.id!)"
            src="assets/img/edit.png">
        <input *ngIf="loginService.isAdmin()" type="image" class="edit" (click)="deleteBook(book.id!)"
            src="assets/img/delete.jpeg">

    </mat-card-actions>
</mat-card>