<div class="container">
    <form class="form" [formGroup]="addBookForm" (ngSubmit)="onSubmit()">

        <label for="title">Title: </label>
        <br />
        <input id="title" type="text" formControlName="title">
        <br />
        <label for="description">Description: </label>
        <br />
        <input id="description" type="text" formControlName="description">
        <br />
        <div class="new-author-div">
            <button type="button" (click)="newAuthor()">
                New Author
            </button>
        </div>
        <label for="authors">Authors: </label>
        <div>
            <ng-select 
            [items]="authors" 
            [multiple]="true" 
            [(ngModel)]="selectedAuthors"
            placeholder="Select authors" 
            [ngModelOptions]="{standalone:true}" 
            bindLabel="fullName">
            </ng-select>
        </div>
        <label for="creationDate">Creation Date: </label>
        <br />
        <input id="creationDate" type="date" formControlName="creationDate">
        <br />
        <label for="isbn">ISBN: </label>
        <br />
        <input id="isbn" type="text" formControlName="isbn">
        <br />
        <label for="quantity">Quantity: </label>
        <br />
        <input id="quantity" type="number" formControlName="quantity">
        <br />
        <label for="imageUrl">Url of image: </label>
        <br />
        <input id="imageUrl" type="text" formControlName="imageUrl">
        <br />
        <div class="button-holder">
            <span>
                <button class="submit-button" type="submit" [disabled]="!addBookForm.valid">Submit</button>
            </span>
        </div>
    </form>
</div>