.container {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div label {
    font-size: 22px;
}
div input, ng-select {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    min-width: 400px
}
ng-select {
    //max-width: 250px;
}
.button-holder {
    padding-top: 5px;
    text-align: center;
}
.new-author-div {
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
button {
    height: 2.2rem;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4A6B89;
    color: white;
}
button:disabled {
    background-color: grey;
}