<div class="container" *ngIf="!loading; else loader">
    <div class="form-container">
        <form class="form" [formGroup]="addBookForm" (ngSubmit)="onSubmit()">

            <label for="title">Title: </label>
            <br />
            <input id="title" type="text" formControlName="title">
            <div class="error-div">
                <div class="error" *ngIf="addBookForm.get('title')?.errors?.required && submitFailed">
                    Title is required.
                </div>
            </div>
            <label for="description">Description: </label>
            <br />
            <textarea class="description" type="text" formControlName="description" style="resize: none;"></textarea>
            <br />
            <label class="authors-label" for="authors">Authors: </label>
            <div>
                <ng-select [items]="authors" [multiple]="true" [(ngModel)]="selectedAuthors"
                    placeholder="Select authors" [ngModelOptions]="{standalone:true}" bindLabel="fullName">
                </ng-select>
            </div>
            <div class="new-author-div">
                <button type="button" (click)="newAuthor()">
                    New Author
                </button>
            </div>
            <label class="creation-date-label" for="creationDate">Creation Date: </label>
            <br />
            <input id="creationDate" type="date" formControlName="creationDate">
            <br />
            <div class="error-div">
                <div class="error" *ngIf="addBookForm.get('creationDate')?.errors?.required && submitFailed">
                    Date is required.
                </div>
            </div>
            <label for="isbn">ISBN: </label>
            <br />
            <input id="isbn" type="text" formControlName="isbn" [pattern]="isbnReg">
            <br />
            <div class="error-div">
                <div class="error" *ngIf="addBookForm.get('isbn')?.errors && submitFailed">
                    ISBN is invalid
                </div>
            </div>
            <label for="quantity">Quantity: </label>
            <br />
            <input id="quantity" class="quantity" type="number" formControlName="quantity">
            <br />
            <div class="error-div">
                <div class="error" *ngIf="addBookForm.get('quantity')?.errors && submitFailed">
                    Quantity must be a positive number
                </div>
            </div>
            <label class="url-label" for="imageUrl">Url of image: </label>
            <br />
            <input id="imageUrl" type="text" formControlName="imageUrl">
            <br />
            <div class="button-holder">
                <span>
                    <button class="submit-button" type="submit">Submit</button>
                </span>
            </div>
            <div *ngIf="errorOccurred" class="error">
                {{errorMessage}}
            </div>
        </form>
    </div>
    <div class="image-container">
        <img [src]="this.addBookForm.get('imageUrl')!.value" onerror="this.src='assets/img/default.png';">
    </div>
</div>

<ng-template #loader>
    <div class="loader">
        <ngx-spinner bdColor="" color="#4A6B89" [fullScreen]=false size="default" type="ball-spin-clockwise">
            <p style="color: black">Please Wait. </p>
        </ngx-spinner>
    </div>
</ng-template>