.container {
    background-color: #4A6B89;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //min-height: 50px;
    position: fixed;
    justify-content: space-evenly;
    width: 100%;
    top: 0;
    z-index: 2;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
}

nav img {
    width: 10%;
    padding-right: 0.4em;
}

nav span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 24px;
    padding: 1em;
}
nav span a {
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    
}

nav span a:hover {
    background-color: #2C5378;
}