
#title-and-authors-above {
    display: none;
}

.main-container {
    margin-top: 40px;
    padding: 50px;
    border-radius: 1.2em;
    background-color: white;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}


.info-container {
    padding-left: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;

}

.title {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
}


.authors {
    font-size: 18px;
    min-height: 40px;
    max-height: fit-content;
    margin-bottom: 10px;
}

.isbn {
    padding-top: 2em;
    font-size: 16px;
}
.date {
    font-size: 16px;
}

.description {
    font-size: 16px;
    padding-top: 20px;
    max-height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.description::-webkit-scrollbar {
    display: none;
}
.image{
    
    min-width: 420px;
    max-width: 420px;
}

.rent-button {
    margin: 0.5em;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4A6B89;
    color: white;
}
.status {
    padding: 10px;
    padding-top: 20px;
    font-size: 18px;

}
.available {
    color: #01C761;
}
.unavailable {
    color: #E00000;
}
.loader {
    display: block;
}
.loadingImage {
    display: block;
    margin: auto;
}
.edit {
    max-width: 25px;
    max-height: 25px;
    margin-left: 10px;
}


@media only screen and (max-width: 1200px) {

    .container {
        padding: 20px;
    }

    .info-container{
        min-height: 330px;
        min-width: 300px;
        max-width: 420px;
    }

    .description {
        min-height: 80px;
    }

    .image-container {
        padding-right: 10px;
    }

    .image{
        padding-left: 20px;
        min-width: 320px;
        max-width: 320px;
    }
}

@media only screen and (max-width: 900px) {

    .main-container {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 5%;
    }
    .info-container{
        min-height: 300px;
        min-width: 280px;
        max-width: 280px;
    }

    .description {
        min-height: 80px;
    }

    .image-container {
        padding-right: 10px;
    }

    .image{
        padding-left: 0px;
        min-width: 300px;
        max-width: 300px;
    }
}



@media only screen and (max-width: 700px) {

    .main-container {
        padding: 10px;
        margin-left: 3%;
        margin-right: 3%;
    }
    .info-container {
        padding: 10px;
        min-width: 260px;
        max-width: 260px;
    }
    .image-container {
        padding: 10px;
    }
    .image {
        min-width: 260px;
        max-width: 260px;
        max-height: 400px;
    }
    .title {
        font-size: 26px;
    }
    .description {
        font-size: 12px;
        min-height: 50px;
    }
    #title-and-authors-above {
        padding-left: 20px;
        align-self: flex-start;
        display: initial;
    }
    #title-and-authors-below {
        display: none;
    }

}

