.sort-menu {
    display: flex;
    align-items: center;
  }

  .sort-criterium {
    width: 200px;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #4A6B89;
    color: white;
    height: 30px;
  
  }

  button {
    margin: 10px;
    width: fit-content;
    height: 2.2rem;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4A6B89;
    color: white;
}
  
  .radio-button {
    margin: 5px;
  }
  .radio-buttons {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }
  .sort-button {
    margin-left: 15px;
  }