.sort-menu {
    display: flex;
    align-items: center;
  }

  .sort-criterium {
    border-radius: 0.2em;
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #4A6B89;
    color: white;
    height: 30px;
  
  }
  .search-bar {
    margin-left: 15px;
    margin-right: 10px;
    font-size: 20px;

  }

  button {
    border-radius: 0.2em;
    margin: 10px;
    width: fit-content;
    height: 2.2rem;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4A6B89;
    color: white;
}
  
  .radio-button {
    margin: 5px;
  }
  .radio-buttons {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }
  .sort-button {
    margin-left: 15px;
  }
  @media only screen and (max-width: 600px) {

  .sort-menu{
    flex-direction: column;
    align-items: center;
  }
  .sort-menu * {
    margin: 8px;

  }
}