.container {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-message {
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}

.right-container {
    padding: 60px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

div label {
    font-size: 22px;
}
div input {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}
.button-holder {
    padding-top: 15px;
    text-align: center;
}

.submit-button {
    width: 45%;
    height: 2.2rem;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4A6B89;
    color: white;
}
button:disabled {
    background-color: grey;
}

.failed-registration {
    max-width: 200px;
    word-wrap: break-word;
    margin-top: 10px;
    color: #E00000;
}


@media screen and (max-width: 900px) {
    .container {
        margin-left: 7%;
        margin-right: 7%;
    }
    .right-container {
        margin-top: 20px;
    }

}


@media screen and (max-width: 700px) {
    .container {
        margin-left: 3%;
        margin-right: 3%;
    }
    .left-container {
        max-width: 320px;
    }
    .welcome-message {
        margin: 10px;
        font-size: 20px;
    }
    .right-container {
        margin-top: 20px;
        padding: 40px;
    }
}