label {
    font-size: 22px;
}
input {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}
.button-holder {
    padding-top: 15px;
    text-align: center;
}

.mat-raised-button {
    font-size: 20px;
}