label {
    font-size: 22px;
}
input {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}
.button-holder {
    padding-top: 15px;
    text-align: center;
}

.mat-raised-button {
    color: white;
    width: 80px;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.2em;
    margin-left: 20px;
    background-color: #4A6B89;
    font-size: 16px;
}